<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>菜单</title>
    <link href="__Admin__/css/style.css" rel="stylesheet" type="text/css" />
    <script language="JavaScript" src="__Admin__/js/jquery.js"></script>
    <script type="text/javascript">
    $(function() {
        //导航切换
        $(".menuson li").click(function() {
            $(".menuson li.active").removeClass("active")
            $(this).addClass("active");
        });

        $('.title').click(function() {
            var $ul = $(this).next('ul');
            $('dd').find('ul').slideUp();
            if ($ul.is(':visible')) {
                $(this).next('ul').slideUp();
            } else {
                $(this).next('ul').slideDown();
            }
        });
    })
    </script>
</head>

<body style="background:#f0f9fd;">
    <div class="lefttop"><span></span>※ 控制面板 ※</div>
    <dl class="leftmenu">
        <volist name="topAuth" id="top">
        <dd>
            <div class="title">
                <span><img src="__Admin__/images/leftico01.png" /></span>{$top.auth_name}
            </div>
            <ul class="menuson">
                <volist name="sonAuth" id="son">
                <if condition="$son['auth_pid'] eq $top['auth_id']">
                <li>
                    <cite></cite><a href="{:U($son['auth_controller'] . '/' . $son['auth_action'])}" target="rightFrame">{$son.auth_name}</a><i></i>
                </li>
                </if>
                </volist>
 <!--                <li>
                    <cite></cite><a href="{:U('goods/add')}" target="rightFrame">添加商品</a><i></i></li> -->
            </ul>
        </dd>
        </volist>
<!--         <dd>
            <div class="title"><span><img src="__Admin__/images/leftico03.png" /></span>商品分类</div>
            <ul class="menuson">
                <li>
                    <cite></cite><a href="#">分类列表</a><i></i></li>
                <li>
                    <cite></cite><a href="#">添加分类</a><i></i></li>
            </ul>
        </dd>        
        <dd>
            <div class="title">
                <span><img src="__Admin__/images/leftico05.png" /></span>商品类型
            </div>
            <ul class="menuson">
                <li>
                    <cite></cite><a href="{:U('GoodsType/index')}" target="rightFrame">类型列表</a><i></i></li>
                <li>
                    <cite></cite><a href="{:U('GoodsType/add')}" target="rightFrame">添加类型</a><i></i></li>
            </ul>
        </dd>
        <dd>
            <div class="title">
                <span><img src="__Admin__/images/leftico02.png" /></span>订单管理
            </div>
            <ul class="menuson">
                <li>
                    <cite></cite><a href="#">留言管理</a><i></i></li>
                <li>
                    <cite></cite><a href="#">评论管理</a><i></i></li>
            </ul>
        </dd>
        <dd>
            <div class="title">
                <span><img src="__Admin__/images/leftico06.png" /></span>会员管理
            </div>
            <ul class="menuson">
                <li>
                    <cite></cite><a href="#">会员列表</a><i></i></li>
                <li>
                    <cite></cite><a href="#">添加会员</a><i></i></li>
            </ul>
        </dd>        
        <dd>
            <div class="title"><span><img src="__Admin__/images/leftico04.png" /></span>权限管理</div>
            <ul class="menuson">
                <li>
                    <cite></cite><a href="{:U('Admin/index')}" target="rightFrame">用户管理</a><i></i></li>
                <li>
                    <cite></cite><a href="{:U('Role/index')}" target="rightFrame">角色管理</a><i></i></li>
                <li>
                    <cite></cite><a href="{:U('Auth/index')}" target="rightFrame">权限列表</a><i></i></li>
                <li>
                    <cite></cite><a href="#">其他</a><i></i></li>
            </ul>
        </dd> -->
    </dl>
</body>

</html>
